@model IList<SurveyViewModel>
@{
    ViewData["Title"] = "FavoriteParks";
}

<h2>FavoriteParks</h2>

@*Loop not yet functioning due to possible parameter reference errors*@
@*@foreach (SurveyViewModel survey in Model)
{
    <div class="survey-results">

    </div>
}*@

