@model IList<SurveyViewModel>
@{
    ViewData["Title"] = "FavoriteParks";
}

<h2>FavoriteParks</h2>

<div id="surveys">
    @foreach (SurveyViewModel survey in Model)
    {
        <div class="survey">
            <h3>@survey.ParkName</h3>
            <h3>@survey.SurveyCount</h3>
        </div>
    }
</div>
