@model SurveyViewModel
@{
    ViewData["Title"] = "Survey";
}

<h2>Survey</h2>

<div id="survey">
    <form method="post" asp-controller="home" asp-action="survey">

        <div class="park">
            <label name="Code">Favorite Park</label>

            <select asp-for="Code">
                <option value="CVNP">Cuyahoga Valley</option>
                <option value="ENP">Everglades</option>
                <option value="GCNP">Grand Canyon</option>
                <option value="GNP">Glacier</option>
                <option value="GSMNP">Great Smoky Mountains</option>
                <option value="GTNP">Great Teton</option>
                <option value="MRNP">Mount Ranier</option>
                <option value="RMNP">Rocky Mountain</option>
                <option value="YNP">Yellowstone</option>
                <option value="YNP2">Yosemite</option>
            </select>
        </div>

        <div class="email">
            <label name="Email">Email</label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="state">
            <label name="State">State</label>
            <input asp-for="State" />
            <span asp-validation-for="State"></span>
        </div>

        <div class="activity">
            <label name="ActivityLevel">Activity Level</label>

            <select asp-for="ActivityLevel">
                <option value="sedentary">Sedentary</option>
                <option value="inactive">Inactive</option>
                <option value="active">Active</option>
                <option value="extremely_active">Extremely Active</option>
            </select>
        </div>
        <input type="submit" value="Submit Survey" />
    </form>
</div>



