@model SurveyViewModel
@{
    ViewData["Title"] = "Survey";
}

<h2>Survey</h2>


<form method="post" asp-controller="home" asp-action="survey">
    <div id="survey">
        <div class="park">
            <label name="Code">Favorite Park</label>

            <select asp-for="Code">
                <option value="CVNP">Cuyahoga Valley</option>
                <option value="ENP">Everglades</option>
                <option value="GCNP">Grand Canyon</option>
                <option value="GNP">Glacier</option>
                <option value="GSMNP">Great Smoky Mountains</option>
                <option value="GTNP">Great Teton</option>
                <option value="MRNP">Mount Ranier</option>
                <option value="RMNP">Rocky Mountain</option>
                <option value="YNP">Yellowstone</option>
                <option value="YNP2">Yosemite</option>
            </select>
        </div>

        <div class="email">
            <label name="Email">Email</label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="state">
            <label name="State">State</label>
            <input asp-for="State" />
            <span asp-validation-for="State"></span>
        </div>

        <div class="activity">
            <label for="sedentary">
                <input id="sedentary" type="radio" name="activityLevel">Sedentary
            </label>
            <label for="inactive">
                <input id="inactive" type="radio" name="activityLevel">Inactive
            </label>
            <label for="active">
                <input id="active" type="radio" name="activityLevel">Active
            </label>
            <label for="extremely_active">
                <input id="extremely_active" type="radio" name="activityLevel">Extremely Active
            </label>
        </div>

    </div>
    <input type="submit" value="Submit Survey" />
</form>




