#parks {
    display: flex;
    flex-direction: column;
}

.park {
    display: flex;
    flex-direction: row;
}

#survey {
    display:flex;
}

#weathers {
    display: flex;
}

.weather {
    display: flex;
    flex-direction: column;
}

