#parks {
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
}

.park {
    display: flex;
    flex-direction: row;
}

table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

body, #detail-body{
    background: radial-gradient(circle, lightgray, white);
    margin:0;
}

/*survey*/

#survey {
    display: flex;
    flex-direction: column;
}

.park, .email, .state, .activity {
    display: flex;
    margin-bottom: 7px;
}

label {
    width: 200px;
}

/*survey*/

.park-details {
    display: flex;
    justify-content:center;
}

.left-details h3, .right-details h3{
    display: flex;
    flex-direction:column;
    border-bottom: .5px solid;
}

.left-details {
    margin-right: 15px;
}

.park-name {
    grid-area: header;
    text-align: center;
}

.park-image {
    margin-bottom: 10px;
}
.detail-image {
    display: flex;
    flex-direction: column;
    text-align:center;
    margin: 5px;
}

.detail-image img {
    width: 50%;
    align-self:center;
}

.info {
    grid-area: info;
}

.bannerImage {
    max-width: 40%;
}

.park-info {
    margin: 10px;
}

.detailItems {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: lightblue;
}

/*.topnav {
    background-color: #333;
    overflow: hidden;
}*/

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: dodgerblue;
    color: black;
}

.email label{
    width:200px;
}

.faves {
    display: flex;
}

.faves img {
    margin-bottom: 12px;    
    margin-right: 9px;
}
.weather {
    display: flex;
    flex-direction: column;
}
#page-content {
    margin:0 auto;
    width: 80%;
}

#weathers {
    display: flex;
    justify-content:space-between;
}

.weather img {
    width: 97%;
}

.weather {
    width: 20%;
}

.temps {
    display: flex;
    justify-content:space-around;
}

#weather-info {
    text-align:start;
    width: 20%;
}

#weather-info h3 {
    margin: 0;
}

.temp-form form{
    margin-bottom:10px;
}

.btn {
    background-color: lightsteelblue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.cold-icon, .hot-icon, .rain-icon {
    display: flex;
    justify-content:center;
}

.forecast-advisory h4 {
    margin:0;
    margin-left: 8px;
}

.temp-advisory, h4 {
    text-align:center;
    margin-bottom: 3px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 100px;
}

#weathers :not(:first-child) .temp-advisory,
#weathers :not(:first-child) .forecast,
#weathers :not(:first-child) .forecast-advisory {
    visibility: hidden;
}

#weathers :not(:first-child) .weather {
    width: 30%;
}

.top-nav-buttons {
    display: flex;
    justify-content:space-between;
}

.registers {
    display: flex;
}