#parks {
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
}

.park {
    display: flex;
    flex-direction: row;
}

table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

body{
    background: radial-gradient(circle, light-gray, white);
    margin:0;
}

.weather{
    text-align: center;
}

#survey {
    display:flex;
    flex-direction: column;
}

.park, .email, .state, .activity {
    display: flex;  
    margin-bottom: 7px;
}

label {
    width: 200px;
}

.park-name {
    grid-area: header;
    text-align: center;
}

.park-image {
    margin-bottom: 10px;
}
.detail-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 5px;
}

.info {
    grid-area: info;
}

#weathers {
    display: flex;
    grid-area: weather;
}

.weather {
    display: flex;
    flex-direction: column;
}

.bannerImage {
    max-width: 40%;
}

.park-info {
    margin: 10px;
}

.detailItems {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: lightblue;
}

.navbar-fixed-top {
    background-color: darkolivegreen;
}

.nav.navbar-nav {
    margin-top: 0px;

}

ul.nav {
    list-style: none;
    display: flex;
    line-height: 40px;
}

.nav a {
    text-decoration: none;
    margin-right: 30px;
    background-color: beige;
    color: black;
    padding: 4px;
    border-radius: 10%;
}

.nav ul {
    background-color: white;
}

.email label{
    width:200px;
}

.faves {
    display: flex;
}

.faves img {
    margin-bottom: 12px;    
    margin-right: 9px;
}

#page-content {
    margin:0 auto;
    width: 80%;
}