<!DOCTYPE html>
<div class="header">
    <img class="bannerImage" src="~/images/logo.png" />
</div>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication.Web</title>
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>

    <div class="navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Survey">Survey</a></li>
        </ul>
    </div>
    <div id="page-content">
        @RenderBody()
    </div>

</body>
</html>
