@model User
@{
    ViewData["Title"] = "_Navbar";
}


<div class="registers">
    @if (Model == null)
    {
        <div><a asp-area="" asp-controller="User" asp-action="Register">Register</a></div>
        <div><a asp-area="" asp-controller="User" asp-action="Login">Login</a></div>
    }
    else
    {
        <div><a asp-area="" asp-controller="User" asp-action="Index">Welcome @Model.Username</a></div>
        <div><a asp-area="" asp-controller="User" asp-action="Logoff">Logout</a></div>
    }
</div>
